.spinner {
    justify-content: center;
}

img{
    max-width:100%;
    max-height:100%;
}

h1,h2,h3,h4,h5{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-family: "Raleway" !important;
    font-weight: 600 !important;
}

.navbar-link{
    color:red !important;
}
.navbar-link:hover{
    color:red !important;
}


.title {
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    /* color: #84E1F5; */
    font-family: "Raleway";
    font-weight: 600;
}

body{
    background-color: #fff !important;
}

.navbar-color{
    background-color: #F8F3D7;
}

.hero-image {
    /* Position and center the image to scale nicely on all screens */
    background-color: #F8F3D7;
    box-shadow: inset 0 -5px 20px -20px #000000;
  }

  a#album {
	color: #222 !important;
	text-decoration: none;
	background-color: transparent;
}

a#footer {
    color: #84E1F5 !important;
	text-decoration: none;
	background-color: transparent;
}
a:hover:footer {
    color: #84E1F5 !important;
	text-decoration: underline;
	background-color: transparent;
}
a{
    color: #222 !important;
	text-decoration: none;
	background-color: transparent;
}
a:hover {
    color: #222 !important;
	text-decoration: none;
	background-color: transparent;
}



.active{
    color: #222 !important;
}

.avatar{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 6px solid #84E1F5;
}

.miniAlbum{
    border-radius: 15px;
}

.albumTitle{
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: rem;
    /* color: #84E1F5; */
    font-family: "Raleway";
    font-weight: 600;
}
